<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <title>casual mode</title>
</head>

<body>

    <div class="header">

        <div class="home">
            <img src="arrow-shape-black-simple-abstract-Black-arrow-set-of-arrows_472122_wh860.png" alt="矢印">
            <div class="gohome">ホームへ戻る</div>
        </div>

        <div class="aiai">AI質問設立</div>
    </div>

    <section class="table">
        <div class="popular">開催中</div>
        <div class="sukuro">
            <ol>
                <div class="keiji">
                    <p>a</p>
                </div>
                <div class="keiji">

                </div>
                <div class="keiji">

                </div>

                <div class="keiji">

                </div>
                <div class="keiji">

                </div>

                <div class="keiji">
                </div>
                <div class="keiji">
                </div>
                <div class="keiji">
                </div>
                <div class="keiji">
                </div>
                <div class="keiji">
                </div>
            </ol>
        </div>
    </section>
</body>